/*                       Table of content:
                            1) General
                            2) Fonts 
                            3) Layout 
                            4) Typographie 
                            5) Buttons, Inputs, etc... 
                            6) Animations 
                            7) Media Queries                            */

                    /* General */

:root{
    --main-blue: hsl(201, 79%, 46%);
    --main-white: hsl(0, 0%, 100%);
    --main-black: hsl(0, 0%, 0%);
    --cornsilk: hsl(48, 100%, 93%);
    --top-header: hsl(39, 77%, 83%);
    --buttons-background: hsl(271, 76%, 53%);
    
    /* This break words (especially for mobile use usefull) */
    overflow-wrap: break-word;
    word-wrap: break-word;
}

body{
    font-family: "Fira Code", arial, sans-serif;
    color: var(--main-white);
}

                    /* Fonts */


@font-face {
    font-family: 'Fira Code';
    src: url('./Fonts/Fira_Code_v6.2/woff2/FiraCode-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

                    /* Layout */

.ClassBGR{
    min-height: 99%;
    width: 98%;
    position: absolute;
    background-color: var(--main-blue);
    clip-path: polygon(49% 1%, 100% 0, 99% 35%, 99% 70%, 100% 100%, 0 100%, 2% 70%, 2% 35%, 0 0);
    z-index: -1;
}

#header{
    display: flex;
    background-color: var(--main-blue);
    min-height: 20%;
    text-shadow: 1px 1px 2px var(--main-black);
    color: var(--main-white);
    text-align: center;
    border-bottom: solid 3px var(--main-white);
    justify-content: center;
    align-content: center;
}

.ClassMainWrapper{
    display: flex;    
    margin-top: 2%;
}

.divAdd {
    min-width: 20%;
    color: var(--cornsilk);
    text-align: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    outline: solid .2rem var(--main-white);
    box-shadow:  1em 1rem 1rem var(--main-black);
    margin-left: 4rem;
}

#countP{
    border-top: solid 1.5px var(--main-white);
    padding-top: 3rem;
}

#IDreadUnreadDIV{
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
}

#IDpagesRead{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
}

#library{
    min-width: 80%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    color: var(--main-blue);
    gap: 1rem;
    margin-left:3rem;
    justify-content: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

#BookDivs{
    width: 25%;
    height: minmax(40%, auto);
    background-color: var(--main-white);
    outline: solid 1em var(--main-blue) ;
    box-shadow:  0 0 2em var(--main-black);
    margin: 2rem;
    border-radius: 1%;
    opacity: 0.6;
    text-align: center;
    justify-content: center;
    align-content: center;
    transition: all 1s ease-in-out;
}

#BookDivs:hover{
    box-shadow: inset 0 0 2em var(--main-black);
    opacity: 1;
}

                    /* Typographie */

#h{
    color: var(--top-header);
}

h3{
    text-shadow: 1px 1px 2px var(--main-black);
}

#librarian{
    text-decoration: none;
    text-shadow: 1px 1px 2px var(--main-black);
    color: var(--top-header);
}
#libHead{
    padding-top: .5rem;
}

#booksP{
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--main-black);
}

                    /* Buttons, Inputs, etc... */


.input{
    text-align: center;
    border: var(--main-white);
}

button {
    background-color: var(--buttons-background);
    color: var(--cornsilk);
    border: 1px solid var(--buttons-background);
    width: minmax(30%, auto);
    opacity: 0.6;
    margin: 1em;
}

button:hover{
    opacity: 1;
}

#addBTN{
    opacity: 0.3;
    width: 75%;
}

#addBTN:hover{
    opacity: 1;
}

#clearBtn{
    opacity: 0.3;
    width: 75%;
}

#clearBtn:hover{
    opacity: 1;
}

                    /* Animations */

                   
.booksH3animation{
    animation: bookTitleAnimation 5s alternate infinite;
}

@keyframes bookTitleAnimation {
    from{
        color: var(--main-blue);
    }
    50%{
        color: var(--main-white);
        text-shadow: 1px 1px 10px var(--main-black);

    }
    to{
        color: var(--main-black);
    }
}

                    /* Media Queries*/

/* Mobile phones and tablets */
@media (max-width: 768px) {

.ClassBGR{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#header{
    margin-top: 2rem;
}

.ClassMainWrapper{
    display: flex;
    flex-wrap:wrap;    
    margin-top: 4%;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

#addDivPositioningDiv{
    min-width: 95%;
    justify-content: center;
}

.divAdd{
    min-width: 95%;
    border: 0rem;
    margin-left: 0rem;
}

.input{
    min-width: 90%;
    min-height: 2.5rem;
    text-align: center;
}

#read{
    text-align-last: center;
}

#library{
    min-width: 95%;
    justify-content: center;
    margin-left: 0rem;
}

#BookDivs{
    min-width: 95%;
    max-height: 40%;
    margin: 0rem;
    border: 0em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button{
    min-width: 40%;
    min-height: 3rem;
}

#addBTN{
    min-width: 90%;
    min-height: 3rem;
    margin-top: 1rem;
}

#clearBtn{
    min-width: 90%;
    min-height: 3rem;
}

.booksH3animation{
    animation: none;
}

} /* Media Querie end */ 

                        /* CSS-Stylesheet End */