@font-face {
    font-family: 'Fira Code';
    src: url('./Fonts/Fira_Code_v6.2/woff2/FiraCode-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

:root{
    --main-blue: #1992d4;
    /* Break words (for mobile use) */
    overflow-wrap: break-word;
    word-wrap: break-word;
}

body{
    font-family: "Fira Code", arial, sans-serif;
    color: hsl(0, 0%, 100%);
}

.ClassBGR{
    min-height: 99%;
    width: 98%;
    position: absolute;
    background-color: var(--main-blue);
    clip-path: polygon(49% 1%, 100% 0, 99% 35%, 99% 70%, 100% 100%, 0 100%, 2% 70%, 2% 35%, 0 0);
    z-index: -1;
}

#header{
    display: flex;
    background-color: var(--main-blue);
    min-height: 20%;
    text-shadow: 1px 1px 2px black;
    color: white;
    text-align: center;
    border-bottom: solid 3px white;
    justify-content: center;
    align-content: center;
}

#h{
    color: wheat;
}

h3{
    text-shadow: 1px 1px 2px black;
}

#librarian{
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    color: wheat;
}
#libHead{
    padding-top: .5rem;
}

.ClassMainWrapper{
    display: flex;    
    margin-top: 2%;
}

.divAdd {
    min-width: 20%;
    color: cornsilk;
    text-align: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    outline: solid .2rem white;
    box-shadow:  1em 1rem 1rem black;
    margin-left: 4rem;
}

#countP{
    border-top: solid 1.5px white;
    padding-top: 3rem;
}

#IDreadUnreadDIV{
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
}

#IDpagesRead{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
}

#library{
    min-width: 80%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    color: #1992d4;
    gap: 1rem;
    margin-left:3rem;
    justify-content: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

#BookDivs{
    width: 25%;
    height: minmax(40%, auto);
    background-color: white;
    outline: solid 1em var(--main-blue) ;
    box-shadow:  0 0 2em black;
    margin: 2rem;
    border-radius: 1%;
    opacity: 0.6;
    text-align: center;
    justify-content: center;
    align-content: center;
    transition: all 1s ease-in-out;
}

#BookDivs:hover{
    box-shadow: inset 0 0 2em black;
    opacity: 1;
}

.booksH3animation{
    animation: bookTitleAnimation 5s alternate infinite;
}

@keyframes bookTitleAnimation {
    from{
        color: var(--main-blue);
    }
    50%{
        color: white;
        text-shadow: 1px 1px 10px black;

    }
    to{
        color: black;
    }
}

#booksP{
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
}

.input{
    text-align: center;
    border: white;
}

button {
    background-color: blueviolet;
    color: cornsilk;
    border: 1px solid blueviolet;
    width: minmax(30%, auto);
    opacity: 0.6;
    margin: 1em;
}

button:hover{
    opacity: 1;
}

#addBTN{
opacity: 0.3;
width: 75%;
}

#addBTN:hover{
    opacity: 1;
}


#clearBtn{
    opacity: 0.3;
    width: 75%;
}


#clearBtn:hover{
    opacity: 1;
}


@media (max-width: 768px) {
    .ClassBGR{
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    #header{
        margin-top: 2rem;
    }
    .ClassMainWrapper{
        display: flex;
        flex-wrap:wrap;    
        margin-top: 4%;
        justify-content: center;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    #addDivPositioningDiv{
        min-width: 95%;
        justify-content: center;
    }
    .divAdd{
        min-width: 95%;
        border: 0rem;
        margin-left: 0rem;
    }
    .input{
        min-width: 90%;
        min-height: 2.5rem;
        text-align: center;
    }
    #library{
        min-width: 95%;
        justify-content: center;
        margin-left: 0rem;
    }
    #BookDivs{
        min-width: 95%;
        max-height: 40%;
        margin: 0rem;
        border: 0em;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    button{
        min-width: 40%;
        min-height: 3rem;
    }
    #addBTN{
        min-width: 90%;
        min-height: 3rem;
        margin-top: 1rem;
    }
    #clearBtn{
        min-width: 90%;
        min-height: 3rem;
    }
    .booksH3animation{
        animation: none;
    }
}




Max-Width
Breakpoints mit max-width beginnen mit dem Layout für den größten Monitor, also beim Design für den Desktop, und überschreiben nach und nach Stile, um die Seiten an immer kleinere Displaygrößen anzupassen.

@media (max-width: 575.98px) { … }// Kleine Endgeräte (Smartphones, kleiner als 768px)

@media (max-width: 767.98px) { … }

// Kleine Endgeräte (Tablets, kleiner als 992px)

@media (max-width: 991.98px) { … }

// Große Endgeräte (Laptops, Bildschirme, kleiner als 1200px)

@media (max-width: 1199.98px) { … }

Min-Width
Min-width ist intuitiver und besser lesbar.

// Kleine Endgeräte (Smartphones, 576px und größer)@media (min-width: 576px) { … }

// Mittlere Endgeräte (Tablets, 768px und größer)

@media (min-width: 768px) { … }

// Große Endgeräte (Laptops, Bildschirme, 992px und größer)

@media (min-width: 992px) { … }

// Sehr große Endgeräte (Große Bildschirme, iMac, 1200px und größer)

@media (min-width: 1200px) { … }